@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
@font-face {
  font-family: "LarishNeue2";
  src: url("../font/Larish\ Neue\ Semibold.woff2");
  font-family: "LarishNeue";
  src: url("../font/LarishNeueSemibold.woff");
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
/* general effect */
h1,
h2,
h4 {
  font-family: "LarishNeue2";
  font-size: 6.5em;
}
h4 {
  font-size: 1.5em;
}
h3 {
  font-family: "LarishNeue";
  font-size: 6.5em;
}
h6,
h5,
p {
  font-family: "Work Sans", sans-serif;
  font-size: 1.2em;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  border: 1px solid #fff;
  background-color: #000;
  width: 13%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: #fff;
  font-size: 1.5em;
  font-family: "Work Sans", sans-serif;
}
a:hover {
  background-color: #fff;
  color: #000;
}

header,
.wildfires,
.bear,
footer {
  background-color: #000;
  color: #fff;
}
/*** header ***/

header img:nth-child(1) {
  width: 100%;
  height: 18vh;
}
header div:nth-child(2) {
  padding-top: 50px;
  text-align: center;
  margin-bottom: 14%;
}
header div:nth-child(2) h2 {
  line-height: 78px;
}
header div:nth-child(2) h2:nth-of-type(2) {
  color: #000;
  -webkit-text-stroke: 1px #fff;
}
header div:nth-child(2) h6:first-child {
  margin-bottom: 30px;
}
header div:nth-child(2) h6:last-child {
  margin-top: 15px;
}
header div:nth-child(3) img {
  width: 5.5%;
  height: 3vh;
}
header div:nth-child(3) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

/*** wildfires ***/
.wildfires {
  padding: 10% 0 10% 10%;
}
.wildfires h1:nth-child(1) {
  font-size: 7.5em;
  font-family: "LarishNeue";
}
.wildfires .map {
  background: url(../img/map.svg) right/contain no-repeat;
  width: 100%;
  height: 50vh;
}
.wildfires article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wildfires article .report {
  padding-top: 14%;
}
.wildfires article .report h1 {
  margin-bottom: 20px;
  font-size: 7.5em;
  font-family: "LarishNeue";
}
/*** action ***/

.action {
  position: relative;
  margin-bottom: 20%;
}
.action #upper img {
  position: absolute;
  width: 25%;
  right: 9%;
  top: -7%;
}
#first img,
#second img,
#third img {
  width: 20%;
}
.action #first img:first-child {
  padding: 20em 0 0 4em;
}
.action #first article {
  width: 40%;
  margin: 0 auto;
  padding-left: 1em;
}
.action #first article p,
.action #third p {
  line-height: 1.5em;
}
.action #first img:last-child {
  position: absolute;
  right: 0;
  top: 50em;
}
.action #second img:first-child {
  padding: 13em 0 0 13em;
}
.action #second img:last-child {
  position: absolute;
  right: 10em;
  top: 80em;
}
.action #third {
  padding-top: 14em;
  display: flex;
  align-items: center;
  margin-bottom: 10em;
}
.action #third p {
  width: 35%;
  padding-left: 10em;
}
.action #last img {
  position: absolute;
  width: 30%;
  right: 22em;
  z-index: 999;
}
/*** bear ***/
.bear,
.poppy {
  padding: 15% 8%;
  position: relative;
}
.bear article div:nth-of-type(2),
.poppy article div:nth-of-type(2) {
  padding-left: 30%;
}
.bear h1,
.poppy h1 {
  line-height: 95px;
}
.bear h4,
.poppy h4 {
  line-height: 40px;
  margin-bottom: 20px;
  font-size: 2.2em;
}
.bear h5,
.poppy h5 {
  font-weight: 800;
}
.bear div img:first-child,
.poppy div img:last-child {
  width: 62%;
}
.bear div img:last-child,
.poppy div img:first-child {
  width: 30%;
}
.bear article,
.poppy article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bear article h6,
.poppy article h6 {
  margin-bottom: 15px;
}
.bear article,
.poppy article {
  margin-bottom: 50%;
}
.bear #Gbear {
  position: absolute;
  top: 47em;
}
.bear #Gbear img:last-child {
  position: absolute;
  top: 15em;
  right: 15em;
  z-index: 999;
}
#circle {
  position: absolute;
  top: -10em;
  right: -95em;
  width: 120%;
  animation: rotate 3s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.poppy article {
  padding-top: 23%;
  margin-bottom: 80%;
}
.poppy #p_bear img:first-child {
  position: absolute;
  bottom: 12%;
  left: 10em;
  z-index: 999;
}
.poppy #p_bear img:last-child {
  width: 55%;
  position: absolute;
  right: 10%;
  bottom: 8em;
}
.poppy h4,
h1 {
  font-family: "LarishNeue";
}

/*** footer ***/
footer {
  padding: 10% 0 5% 10%;
  position: relative;
  overflow: hidden;
}
footer ul li img {
  width: 100%;
  height: 1.5vh;
}
footer article:nth-of-type(2) div:nth-child(2) img {
  width: 20%;
}
#banner {
  background-color: #fff;
  font-size: 7.2em;
  -webkit-text-stroke: 1px #000;
  /* transform: translate(50px, -650px); */
  /* transform: translateX(300px);
  transform: translateY(50px); */
  transform: rotate(45deg);
  position: absolute;
  right: -550px;
  top: 470px;
  animation: move 3s linear infinite;
}
@keyframes move {
  /* 0% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(120px);
  } */
}

#banner span {
  color: #000;
}
footer article div:nth-child(1) {
  width: 40%;
}
footer article div:nth-child(1) h4 {
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 2.5em;
}
footer article:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer a {
  width: 30%;
  margin-bottom: 6em;
}
footer article:nth-of-type(2) div:first-child ul {
  display: flex;
}
footer article:nth-of-type(2) div:first-child ul li {
  padding: 18px 5px;
}
footer article:nth-of-type(2) div:first-child h6 {
  margin-bottom: 15px;
}
footer article:nth-of-type(2) div:last-child {
  padding-left: 20em;
}

/* Farbe: #fff / #000 */

/*** smartphone ***/
@media screen and (max-width: 600px) {
  body {
    /* background-color: mediumseagreen; */
  }
}

/* tablet */
@media screen and (max-width: 768px) {
  body {
    /* background-color: orange; */
  }
}
